<nav>
    <div class="site-title">
        <a href="/blogs">Net Ninjas Blogs</a>
        <p>A net ninja site</p>
    </div>
    <ul>
        <li><a href="/blogs">All Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">Create a blog</a></li>
    </ul>
</nav>