<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <p>This page does not exist</p>
        <%- include('./partials/foot.ejs') %>
    </body>
</html>